USE [master]
GO
/****** Object:  Database [Library]    Script Date: 2019-12-13 11:49:37 ص ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorNo] [int] NOT NULL,
	[AuthorName] [nvarchar](100) NULL,
	[BirthDate] [nvarchar](50) NULL,
	[Country] [nvarchar](100) NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookBorrow]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookBorrow](
	[No] [int] NOT NULL,
	[BorrowerNo] [int] NULL,
	[BookNo] [int] NULL,
	[StartDate] [nvarchar](50) NULL,
	[EndDate] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_BookBorrow] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookData]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookData](
	[BookNo] [int] NOT NULL,
	[BookName] [nvarchar](100) NULL,
	[CatNo] [int] NULL,
	[AuthorNo] [int] NULL,
	[CountryNo] [int] NULL,
	[DarNo] [int] NULL,
	[SubCat] [nvarchar](100) NULL,
	[Date] [nvarchar](50) NULL,
	[PagesNumer] [int] NULL,
	[PlaceNo] [int] NULL,
	[BookStatus] [nvarchar](50) NULL,
	[BookPrice] [real] NULL,
 CONSTRAINT [PK_BookData] PRIMARY KEY CLUSTERED 
(
	[BookNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowers]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowers](
	[BorrowerNo] [int] NOT NULL,
	[BorroerName] [nvarchar](100) NULL,
	[Date] [nvarchar](50) NULL,
	[BorrowerrPhone] [nvarchar](100) NULL,
 CONSTRAINT [PK_Borrowers] PRIMARY KEY CLUSTERED 
(
	[BorrowerNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CatNo] [int] NOT NULL,
	[CatName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CatNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryNo] [int] NOT NULL,
	[CountryName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DarNashr]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DarNashr](
	[DarNo] [int] NOT NULL,
	[DarName] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
 CONSTRAINT [PK_DarNashr] PRIMARY KEY CLUSTERED 
(
	[DarNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 2019-12-13 11:49:37 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[PlaceNo] [int] NOT NULL,
	[PlaceName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[PlaceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookBorrow]  WITH CHECK ADD  CONSTRAINT [FK_BookBorrow_BookData] FOREIGN KEY([BookNo])
REFERENCES [dbo].[BookData] ([BookNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookBorrow] CHECK CONSTRAINT [FK_BookBorrow_BookData]
GO
ALTER TABLE [dbo].[BookBorrow]  WITH CHECK ADD  CONSTRAINT [FK_BookBorrow_Borrowers] FOREIGN KEY([BorrowerNo])
REFERENCES [dbo].[Borrowers] ([BorrowerNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookBorrow] CHECK CONSTRAINT [FK_BookBorrow_Borrowers]
GO
ALTER TABLE [dbo].[BookData]  WITH CHECK ADD  CONSTRAINT [FK_BookData_Authors] FOREIGN KEY([AuthorNo])
REFERENCES [dbo].[Authors] ([AuthorNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookData] CHECK CONSTRAINT [FK_BookData_Authors]
GO
ALTER TABLE [dbo].[BookData]  WITH CHECK ADD  CONSTRAINT [FK_BookData_Category] FOREIGN KEY([CatNo])
REFERENCES [dbo].[Category] ([CatNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookData] CHECK CONSTRAINT [FK_BookData_Category]
GO
ALTER TABLE [dbo].[BookData]  WITH CHECK ADD  CONSTRAINT [FK_BookData_Country] FOREIGN KEY([CountryNo])
REFERENCES [dbo].[Country] ([CountryNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookData] CHECK CONSTRAINT [FK_BookData_Country]
GO
ALTER TABLE [dbo].[BookData]  WITH CHECK ADD  CONSTRAINT [FK_BookData_DarNashr] FOREIGN KEY([DarNo])
REFERENCES [dbo].[DarNashr] ([DarNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookData] CHECK CONSTRAINT [FK_BookData_DarNashr]
GO
ALTER TABLE [dbo].[BookData]  WITH CHECK ADD  CONSTRAINT [FK_BookData_Places] FOREIGN KEY([PlaceNo])
REFERENCES [dbo].[Places] ([PlaceNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookData] CHECK CONSTRAINT [FK_BookData_Places]
GO
USE [master]
GO
